.card-grid-container {
  display: flex;
}
.card-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.card-container {
  margin: auto;
  height: 100%;
  transition: 0.3s;
  box-shadow: 0 16px 70px -12.125px rgba(0, 0, 0, 0.2) !important;
}
.card-container:hover {
  box-shadow: 0 16px 70px -12.125px rgba(0, 0, 0, 0.4) !important;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: left;
}
.card-divider {
  background-color: rgba(0, 0, 0, 0);
  margin: 24px 0 !important;
  border: none;
  height: 1px;
}
.stack-container {
  justify-content: center;
}
.pagination {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 0;
}
